@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #212121;
    --primary: #53d000;
    --secondary: #700123;

    --color-primary-900: hsla(96, 100%, 31%, 1);
    --color-primary-800: hsla(96, 100%, 36%, 1);
    --color-primary-700: hsla(96, 100%, 41%, 1);
    --color-primary-600: hsla(96, 100%, 46%, 1);
    --color-primary-500: hsla(96, 100%, 51%, 1); /* This is your base color */
    --color-primary-400: hsla(96, 100%, 56%, 1);
    --color-primary-300: hsla(96, 100%, 61%, 1);
    --color-primary-200: hsla(96, 100%, 66%, 1);
    --color-primary-100: hsla(96, 100%, 71%, 1);

    --color-neutral-900: #171717;
    --color-neutral-800: #1c1c1c;
    --color-neutral-700: #212121;
    --color-neutral-600: #3c3c3c;
    --color-neutral-500: #717171;
    --color-neutral-400: #a2a2a2;
    --color-neutral-300: #dbdbdb;
    --color-neutral-200: #ededed;
    --color-neutral-100: #f6f6f6;

    --color-primary-text: #212121;
    --color-secondary-800: #1c1c1c;
    --color-secondary-700: #212121;
    --color-secondary-500: #717171;

    /* Border Radius */
    --radius: 1rem;

    /* Typography Sizes */
    --title-sm-size: 4rem;
    --title-md-size: 5rem;
    --title-lg-size: 6rem;

    --subtitle-sm-size: 2rem;
    --subtitle-md-size: 3rem;
    --subtitle-lg-size: 4rem;

    --paragraph-sm-size: 1rem;
    --paragraph-md-size: 1.5rem;
    --paragraph-lg-size: 1.75rem;

    /* Fonts */
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Open Sans", sans-serif;
    --font-tertiary: "Lato", sans-serif;
  }
}
